.container{
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 1px solid #93c54d;
  background-color: #61b6a8;
  padding: 10px;
}

.add{
  background-color: #63dac6;
  border: 2px solid #2e9282;
  padding: 3px 7px;
  margin-left: 10px;
}
.add:hover{
  background-color: #3b8b7e;
  border: 2px solid #3b8b7e;
}

.add-btn{
  float: right;
  border: none;
  cursor: pointer;
  background-color: rgb(184, 57, 127);
  color: black;
  border-radius: 10px; 
}